<%= form_for(@profile, url: artist_profile_path) do |f| %>
  <%= render 'errors/profile_errors' %>

  <div class="field">
    <%= f.label :year_founded %><br />
    <%= f.text_field :year_founded %>
  </div>

  <%= fields_for :artist_location, @location do |u| %>
    <div class="field">
      <%= u.label :city %><br />
      <%= u.text_field :city %>
    </div>
  <% end %>

    <%= fields_for :artist_theme, @theme do |u| %>
    <div class="field">
      <%= u.label :main_color %><br />
      <%= u.text_field :main_color %>
    </div>
  <% end %>

    <%= fields_for :artist_genre, @genre do |u| %>
    <div class="field">
      <%= u.label :genre %><br />
      <%= u.text_field :genre %>
    </div>
  <% end %>

  <%= f.submit "Update profile", data: { disable_with: 'Updating...' } %>
<% end %>

<% if @artist.artist_members.any? %>
  <% @artist.artist_members.each do |member| %>
    <%= form_for(member, url: artist_member_path(@artist, member)) do |f| %>
      <%= render 'errors/profile_errors' %>

      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name %>
      </div>

      <%= f.submit "Update member", data: { disable_with: 'Updating...' } %>
    <% end %>
  <% end %>
<% end %>

Add a member?

<%= form_for(@member, url: artist_members_path) do |f| %>
  <%= render 'errors/member_errors' %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <%= f.submit "Add member", data: { disable_with: 'Updating...' } %>
<% end %>




