<%= form_for(@profile, url: artist_profile_path) do |f| %>
  <%= render 'errors/profile_errors' %>

  <div class="field">
    <%= f.label :year_founded %><br />
    <%= f.text_field :year_founded %>
  </div>
  <div class="field">
    <%= f.label :record_label %><br />
    <%= f.text_field :record_label %>
  </div>
  <div class="field">
    <%= f.label :influences %><br />
    <%= f.text_field :influences %>
  </div>
  <div class="field">
    <%= f.label :facebook_handle %><br />
    <%= f.text_field :facebook_handle %>
  </div>
  <div class="field">
    <%= f.label :facebook_url %><br />
    <%= f.text_field :facebook_url %>
  </div>
  <div class="field">
    <%= f.label :twitter_handle %><br />
    <%= f.text_field :twitter_handle %>
  </div>
  <div class="field">
    <%= f.label :twitter_url %><br />
    <%= f.text_field :twitter_url %>
  </div>
  <div class="field">
    <%= f.label :instagram_handle %><br />
    <%= f.text_field :instagram_handle %>
  </div>
  <div class="field">
    <%= f.label :instagram_url %><br />
    <%= f.text_field :instagram_url %>
  </div>
  <div class="field">
    <%= f.label :youtube_handle %><br />
    <%= f.text_field :youtube_handle %>
  </div>
  <div class="field">
    <%= f.label :youtube_url %><br />
    <%= f.text_field :youtube_url %>
  </div>
  <div class="field">
    <%= f.label :letlyrics_url %><br />
    <%= f.text_field :letlyrics_url %>
  </div>
  <div class="field">
    <%= f.label :general_manager_name %><br />
    <%= f.text_field :general_manager_name %>
  </div>
  <div class="field">
    <%= f.label :general_manager_email %><br />
    <%= f.text_field :general_manager_email %>
  </div>
  <div class="field">
    <%= f.label :press_contact_name %><br />
    <%= f.text_field :press_contact_name %>
  </div>
  <div class="field">
    <%= f.label :press_contact_email %><br />
    <%= f.text_field :press_contact_email %>
  </div>
  <div class="field">
    <%= f.label :booking_agent_name %><br />
    <%= f.text_field :booking_agent_name %>
  </div>
  <div class="field">
    <%= f.label :booking_agent_email %><br />
    <%= f.text_field :booking_agent_email %>
  </div>

  <%= fields_for :artist_location, @location do |u| %>
    <div class="field">
      <%= u.label :city %><br />
      <%= u.text_field :city %>
    </div>
    <div class="field">
      <%= u.label :state %><br />
      <%= u.text_field :state %>
    </div>
    <div class="field">
      <%= u.label :country %><br />
      <%= u.text_field :country %>
    </div>
  <% end %>

  <%= fields_for :artist_theme, @theme do |u| %>
    <div class="field">
      <%= u.label :main_color %><br />
      <%= u.text_field :main_color %>
    </div>
  <% end %>

    <%= fields_for :artist_genre, @genre do |u| %>
    <div class="field">
      <%= u.label :genre %><br />
      <%= u.text_field :genre %>
    </div>
    <div class="field">
      <%= u.label :subgenre %><br />
      <%= u.text_field :subgenre %>
    </div>
  <% end %>

  <%= f.submit "Update profile", data: { disable_with: 'Updating...' } %>
<% end %>

<% if @artist.artist_members.any? %>
  <% @artist.artist_members.each do |member| %>
    <%= form_for(member, url: artist_member_path(@artist, member)) do |f| %>
      <%= render 'errors/profile_errors' %>

      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name %>
      </div>

      <%= f.submit "Update member", data: { disable_with: 'Updating...' } %>
    <% end %>
  <% end %>
<% end %>

Add a member?

<%= form_for(@member, url: artist_members_path) do |f| %>
  <%= render 'errors/member_errors' %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <%= f.submit "Add member", data: { disable_with: 'Updating...' } %>
<% end %>




