
<% if @artist.artist_profile.year_founded.blank? %>
  <div class="no-cover-photo">
    <% if @artist == current_artist %>
      <div>
        You do not have a cover image yet.
      </div>
      <div class="crazy-tiny-text">
        <%= link_to "Upload one now?", edit_artist_profile_path(current_artist) %>
      </div>
    <% else %>
      <%= "#{@artist.name} hasn't uploaded a cover photo yet" %>
    <% end %>
  </div>
<% else %>
  <img src="https://www.native-instruments.com/typo3temp/pics/img-welcome-hero-lone-forest-4fdf2e1195bcb4f320bae5335ad034c3-d.jpg" width="100%" height="auto'" />
<% end %>

<div class="wrapper">
  <div class="container">



    <div class="five-space">
      <span class="large-text"><%= @artist.name %></span> - <%= @artist.fans.count %> followers
    </div>

    <div class="three-space">
      <% if fan_signed_in? %>
        <% if fan_signed_in? && current_fan.following_artist?(@artist) %>

          <%= link_to "Unfollow", artist_relationship_path(@artist, current_fan.artist_relationship_id(@artist)), method: :delete, data: { disable_with: 'Unfollowing...' }, class: "unfollow-button" %>

          <div class="checkbox-dropdown">
            &#x21e9;
          </div>

          <div class="checkbox-container">
            <%= form_for(@settings, url: artist_relationship_path(@artist, current_fan.artist_relationship_id(@artist))) do |f| %>
            <ul>
              <li><%= f.check_box :post_email %>
              <%= f.label :post_email %></li>
              <li><%= f.check_box :photo_email %>
              <%= f.label :photo_email %></li>
              <li><%= f.check_box :video_email %>
              <%= f.label :video_email %></li>
              <li><%= f.check_box :merch_email %>
              <%= f.label :merch_email %></li>
              <li><%= f.check_box :tour_email %>
              <%= f.label :tour_email %></li>
              <li><%= f.check_box :show_email %>
              <%= f.label :show_email %></li>
              <li><%= f.check_box :album_email %>
              <%= f.label :album_email %></li>
              <li><%= f.submit "Update", data: { disable_with: 'Updating...' }, class: "small-button" %></li>
            </ul>
            <% end %>
          </div>

        <% else %>
          <%= form_for(@relationship,  url: artist_relationships_path(@artist)) do |f| %>
            <%= f.submit "Follow", data: { disable_with: 'Following...' }, class: "follow-button" %>
          <% end %>
        <% end %>
      <% else %>
        <%= link_to "Sign in as a fan", fan_session_path %> to follow <%= @artist.name %>
      <% end %>
    </div>



    <sidebar class="artist-sidebar">
      <nav class="nav">
        <ul>
          <li id="postsclick">Posts</li>
          <li id="photosclick">Photos</li>
          <li id="videosclick">Videos</li>
          <li id="toursclick">Tours</li>
          <li id="merchclick">Merch</li>
          <li id="musicclick">Music</li>
          <li id="profileclick">Profile</li>
        </ul>
      </nav>
    </sidebar>


    <main class="artist-content">
      <div id="posts">
        <div class="form-container">
          <% if artist_signed_in? && current_artist == @artist %>
            <%= form_for(@post, url: artist_posts_path(@artist)) do |f| %>

              <div class="field">
                <%= f.label :content, "What's happening?", class: "middle-text" %>
                <%= f.text_area :content, class: "text-area" %>
              </div>
              <div class="a inline" id="artistpostlinkclick">
                Add a link
              </div>
              or
              <div class="a inline" id="artistpostimageclick">
                Add a photo
              </div>
              <div class="field" id="artistpostlink">
                <%= f.label :link %><br />
                <%= f.text_field :link, class: "text-field" %>
              </div>
              <div class="field" id="artistpostimage">
                <%= f.label :image %><br />
                <%= f.file_field :image %>
              </div>

              <br />
              <%= f.submit "Create post", data: { disable_with: 'Creating...' } %>
            </div>
          <% end %>
        <% end %>

        <% if @artist.artist_posts.any? %>
          <% @artist.artist_posts.each do |post| %>
            <div class="post-container">
              <div class="one-space">
                <%= link_to @artist.name, artist_path(@artist) %> <span class="tiny-text">posted <%= time_ago_in_words(post.created_at) %> ago <%= link_to "Delete", artist_post_path(@artist, post), method: :delete, data: { disable_with: 'Deleting...' } if artist_signed_in? && current_artist == @artist %></span>
              </div>
              <div class="one-space">
                <%= post.content %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>



      <div id="photos">
        <% if artist_signed_in? && current_artist == @artist %>
          <%= form_for(@photo_album, url: artist_photo_albums_path(@artist)) do |f| %>

            <div class="field">
              <%= f.label :title %><br />
              <%= f.text_field :title %>
            </div>

            <%= f.submit "Create photo album", data: { disable_with: 'Creating...' } %>
          <% end %>
        <% end %>

        <% if @artist.artist_photo_albums.any? %>
          <% @artist.artist_photo_albums.each do |photo_album| %>
            <%= photo_album.title %> <%= link_to "Delete", artist_photo_album_path(@artist, photo_album), method: :delete, data: { disable_with: 'Deleting...' } if artist_signed_in? && current_artist == @artist %>

            <% if artist_signed_in? && current_artist == @artist %>
              <%= form_for(@photo, url: artist_photo_album_photos_path(@artist, photo_album)) do |f| %>

                <div class="field">
                  <%= f.label :title %><br />
                  <%= f.text_field :title %>
                </div>
                <div class="field">
                  <%= f.label :photo %><br />
                  <%= f.file_field :photo %>
                </div>
                <div class="field">
                  <%= f.label :description %><br />
                  <%= f.text_area :description %>
                </div>
                <%= f.label :cover_photo %>
                <%= f.check_box :cover_photo %>
                <%= f.label :profile_photo %>
                <%= f.check_box :profile_photo %><br />

                <%= f.submit "Create photo", data: { disable_with: 'Creating...' } %>
              <% end %>
            <% end %>

          <% if photo_album.artist_photos.any? %>
            <% photo_album.artist_photos.each do |photo| %>
            <%= photo.title %> <%= photo.artist_id %>

            <%= image_tag(photo.photo_url.to_s) %>

            <%= link_to "Delete", artist_photo_album_photo_path(@artist, photo_album, photo), method: :delete, data: { disable_with: 'Deleting...' } if artist_signed_in? && current_artist == @artist %>
            <% end %>
          <% end %>

          <% end %>
        <% end %>
      </div>




      <div id="videos">
        <% if artist_signed_in? && current_artist == @artist %>
          <%= form_for(@video, url: artist_videos_path(@artist)) do |f| %>

            <div class="field">
              <%= f.label :title %><br />
              <%= f.text_field :title %>
            </div>
            <div class="field">
              <%= f.label :description %><br />
              <%= f.text_area :description %>
            </div>
            <div class="field">
              <%= f.label :video %><br />
              <%= f.file_field :video %>
            </div>

            <%= f.submit "Create video", data: { disable_with: 'Creating...' } %>
          <% end %>
        <% end %>

        <% if @artist.artist_videos.any? %>
          <% @artist.artist_videos.each do |video| %>
            <%= video.title %> <%= video.artist_id %> <%= link_to "Delete", artist_video_path(@artist, video), method: :delete, data: { disable_with: 'Deleting...' } if artist_signed_in? && current_artist == @artist %>
          <% end %>
        <% end %>
      </div>




      <div id="tours">
        <% if artist_signed_in? && current_artist == @artist %>
          <%= form_for(@tour, url: artist_tours_path(@artist)) do |f| %>

            <div class="field">
              <%= f.label :title %><br />
              <%= f.text_field :title %>
            </div>
            <div class="field">
              <%= f.label :description %><br />
              <%= f.text_area :description %>
            </div>
            <div class="field">
              <%= f.label :amount_of_shows %><br />
              <%= f.text_field :amount_of_shows %>
            </div>
            <div class="field">
              <%= f.label :artists %><br />
              <%= f.text_field :artists %>
            </div>
            <div class="field">
              <%= f.label :image %><br />
              <%= f.file_field :image %>
            </div>

            <%= f.submit "Create tour", data: { disable_with: 'Creating...' } %>
          <% end %>
        <% end %>

        <% if @artist.artist_tours.any? %>
          <% @artist.artist_tours.each do |tour| %>
            <%= tour.title %> <%= link_to "Delete", artist_tour_path(@artist, tour), method: :delete, data: { disable_with: 'Deleting...' } if artist_signed_in? && current_artist == @artist %>

            <%= form_for(@show, url: artist_tour_shows_path(@artist, tour)) do |f| %>

            <div class="field">
              <%= f.label :title %><br />
              <%= f.text_field :title %>
            </div>
            <div class="field">
              <%= f.label :month %><br />
              <%= f.text_field :month %>
            </div>
            <div class="field">
              <%= f.label :day %><br />
              <%= f.text_field :day %>
            </div>
            <div class="field">
              <%= f.label :year %><br />
              <%= f.text_field :year %>
            </div>
            <div class="field">
              <%= f.label :venue %><br />
              <%= f.text_field :venue %>
            </div>
            <div class="field">
              <%= f.label :description %><br />
              <%= f.text_area :description %>
            </div>
            <div class="field">
              <%= f.label :ticket_url %><br />
              <%= f.text_field :ticket_url %>
            </div>
            <div class="field">
              <%= f.label :image %><br />
              <%= f.file_field :image %>
            </div>
            <div class="field">
              <%= f.label :is_independent? %><br />
              <%= f.check_box :is_independent? %>
            </div>

            <%= fields_for :artist_show_location do |u| %>
              <div class="field">
                <%= u.label :city %><br />
                <%= u.text_field :city %>
              </div>
            <% end %>

            <%= f.submit "Create show", data: { disable_with: 'Creating...' } %>
          <% end %>

          <% if tour.artist_shows.any? %>
            <% tour.artist_shows.each do |show| %>
            <%= show.title %> <%= show.artist_id %> <%= show.artist_show_location.city %>

            <%= link_to "Delete", artist_tour_show_path(@artist, tour, show), method: :delete, data: { disable_with: 'Deleting...' } if artist_signed_in? && current_artist == @artist %>
            <% end %>
          <% end %>

          <% end %>
        <% end %>
      </div>




      <div id="merch">
        <% if artist_signed_in? && current_artist == @artist %>
          <%= form_for(@item, url: artist_items_path(@artist)) do |f| %>

            <div class="field">
              <%= f.label :title, class: "label" %><br />
              <%= f.text_field :title, class: "text-field" %>
            </div>
            <div class="field">
              <%= f.label :description %><br />
              <%= f.text_field :description %>
            </div>
            <div class="field">
              <%= f.label :category, class: "label" %><br />
              <%= f.text_field :category, class: "text-field" %>
            </div>
            <div class="field">
              <%= f.label :base_price, class: "label" %><br />
              <%= f.text_field :base_price, class: "text-field" %>
            </div>
            <div class="field">
              <%= f.label :shipping_price, class: "label" %><br />
              <%= f.text_field :shipping_price, class: "text-field" %>
            </div>
            <div class="field">
              <%= f.label :currency %><br />
              <%= f.text_field :currency %>
            </div>
            <div class="field">
              <%= f.label :quantity %><br />
              <%= f.text_field :quantity %>
            </div>
            <div class="field">
              <%= f.label :options %><br />
              <%= f.text_field :options %>
            </div>
            <div class="field">
              <%= f.label :image %><br />
              <%= f.text_field :image %>
            </div>
            <div class="field">
              <%= f.label :image_two %><br />
              <%= f.text_field :image_two %>
            </div>
            <div class="field">
              <%= f.label :image_three %><br />
              <%= f.text_field :image_three %>
            </div>

            <%= f.submit "Create item", data: { disable_with: 'Creating...' } %>
          <% end %>
        <% end %>

        <% if @artist.artist_items.any? %>
          <% @artist.artist_items.each do |item| %>
            <%= item.title %> <%= item.artist_id %> <%= link_to "Delete", artist_item_path(@artist, item), method: :delete, data: { disable_with: 'Deleting...' } if artist_signed_in? && current_artist == @artist %>
          <% end %>
        <% end %>
      </div>



      <div id="music">
        <% if artist_signed_in? && current_artist == @artist %>
          <%= form_for(@album, url: artist_albums_path(@artist)) do |f| %>

            <div class="field">
              <%= f.label :title %><br />
              <%= f.text_field :title %>
            </div>
            <div class="field">
              <%= f.label :description %><br />
              <%= f.text_area :description %>
            </div>
            <div class="field">
              <%= f.label :release_month %><br />
              <%= f.text_field :release_month %>
            </div>
            <div class="field">
              <%= f.label :release_day %><br />
              <%= f.text_field :release_day %>
            </div>
            <div class="field">
              <%= f.label :release_year %><br />
              <%= f.text_field :release_year %>
            </div>
            <div class="field">
              <%= f.label :price %><br />
              <%= f.text_field :price %>
            </div>
            <div class="field">
              <%= f.label :currency %><br />
              <%= f.text_field :currency %>
            </div>
            <div class="field">
              <%= f.label :image %><br />
              <%= f.file_field :image %>
            </div>

            <%= f.submit "Create album", data: { disable_with: 'Creating...' } %>
          <% end %>
        <% end %>

        <% if @artist.artist_albums.any? %>
          <% @artist.artist_albums.each do |album| %>
            <%= album.title %> <%= link_to "Delete", artist_album_path(@artist, album), method: :delete, data: { disable_with: 'Deleting...' } if artist_signed_in? && current_artist == @artist %>

            <%= form_for(@track, url: artist_album_tracks_path(@artist, album)) do |f| %>

            <div class="field">
              <%= f.label :title %><br />
              <%= f.text_field :title %>
            </div>
            <div class="field">
              <%= f.label :track_number %><br />
              <%= f.text_field :track_number %>
            </div>
            <div class="field">
              <%= f.label :price %><br />
              <%= f.text_field :price %>
            </div>
            <div class="field">
              <%= f.label :currency %><br />
              <%= f.text_field :currency %>
            </div>
            <div class="field">
              <%= f.label :audio %><br />
              <%= f.text_field :audio %>
            </div>
            <div class="field">
              <%= f.label :lyrics %><br />
              <%= f.text_area :lyrics %>
            </div>

            <%= f.submit "Create track", data: { disable_with: 'Creating...' } %>
          <% end %>

          <% if album.artist_tracks.any? %>
            <% album.artist_tracks.each do |track| %>
            <%= track.title %> <%= track.artist_id %>

            <%= link_to "Delete", artist_album_track_path(@artist, album, track), method: :delete, data: { disable_with: 'Deleting...' } if artist_signed_in? && current_artist == @artist %>
            <% end %>
          <% end %>

          <% end %>
        <% end %> 
      </div>





      <div id="profile">
        <% if artist_signed_in? %>
          <% if current_artist.artist_profile.year_founded.blank? %>
          you have profile
          <% else %>
          your year founded is <%= current_artist.artist_profile.year_founded %>
          <% end %>
          <% if current_artist.artist_genre.genre.blank? %>
          you have genre
          <% else %>
          your genre is <%= current_artist.artist_genre.genre %>
          <% end %>
          <% if current_artist.artist_location.city.blank? %>
          you have location
          <% else %>
          your city is <%= current_artist.artist_location.city %>
          <% end %>
          <% if current_artist.artist_theme.main_color.blank? %>
          you have theme
          <% else %>
          your main color is <%= current_artist.artist_theme.main_color %>
          <% end %>
          </br>
          <% if current_artist.artist_store.first_name.blank? %>
          you have store
          <% else %>
          your store is <%= current_artist.artist_store.first_name %>
          <% end %>
          </br>
          <% @artist.artist_members.each do |member| %>
            <%= member.name %>
          <% end %></br>
          <%= link_to "Edit profile", edit_artist_profile_path(current_artist) %>
        <% end %>
      </div>


    </main>


  </div>
</div>