<%= @artist.username %> is signed in.

<% if artist_signed_in? %>
  <% if current_artist.artist_profile.year_founded.blank? %>
  you have profile
  <% else %>
  your year founded is <%= current_artist.artist_profile.year_founded %>
  <% end %>
  <% if current_artist.artist_genre.genre.blank? %>
  you have genre
  <% else %>
  your genre is <%= current_artist.artist_genre.genre %>
  <% end %>
  <% if current_artist.artist_location.city.blank? %>
  you have location
  <% else %>
  your city is <%= current_artist.artist_location.city %>
  <% end %>
  <% if current_artist.artist_theme.main_color.blank? %>
  you have theme
  <% else %>
  your main color is <%= current_artist.artist_theme.main_color %>
  <% end %>
  </br>
  <% @artist.artist_members.each do |member| %>
    <%= member.name %>
  <% end %></br>
  <%= link_to "Edit profile", edit_artist_profile_path(current_artist) %>
<% end %>

</br>




<% if fan_signed_in? %>
  <% if fan_signed_in? && current_fan.following_artist?(@artist) %>
    <%= button_to "Unfollow", artist_relationship_path(@artist, current_fan.artist_relationship_id(@artist)), method: :delete, data: { disable_with: 'Unfollowing...' } %>


      <%= form_for(@settings, url: artist_relationship_path(@artist, current_fan.artist_relationship_id(@artist))) do |f| %>
      <%= f.label :post_email %>
      <%= f.check_box :post_email %>
      <%= f.label :photo_email %>
      <%= f.check_box :photo_email %>
      <%= f.label :video_email %>
      <%= f.check_box :video_email %>
      <%= f.submit "Update", data: { disable_with: 'Updating...' } %>
      <% end %>

  <% else %>
    <%= form_for(@relationship,  url: artist_relationships_path(@artist)) do |f| %>
      <%= f.submit "Follow", data: { disable_with: 'Following...' } %>
    <% end %>
  <% end %>
<% else %>
  <%= link_to "Sign in as a fan", fan_session_path %> to follow <%= @artist.name %>
<% end %>





</br>
<% if artist_signed_in? && current_artist == @artist %>
  <%= form_for(@post, url: artist_posts_path(@artist)) do |f| %>

    <div class="field">
      <%= f.label :content %><br />
      <%= f.text_field :content %>
    </div>

    <%= f.submit "Create post", data: { disable_with: 'Creating...' } %>
  <% end %>
<% end %>

<% if @artist.artist_posts.any? %>
  <% @artist.artist_posts.each do |post| %>
    <%= post.content %> <%= link_to "Delete", artist_post_path(@artist, post), method: :delete, data: { disable_with: 'Deleting...' } %>
  <% end %>
<% end %>




</br>
<% if artist_signed_in? && current_artist == @artist %>
  <%= form_for(@photo_album, url: artist_photo_albums_path(@artist)) do |f| %>

    <div class="field">
      <%= f.label :title %><br />
      <%= f.text_field :title %>
    </div>

    <%= f.submit "Create photo album", data: { disable_with: 'Creating...' } %>
  <% end %>
<% end %>

<% if @artist.artist_photo_albums.any? %>
  <% @artist.artist_photo_albums.each do |photo_album| %>
    <%= photo_album.title %> <%= link_to "Delete", artist_photo_album_path(@artist, photo_album), method: :delete, data: { disable_with: 'Deleting...' } %>

    <%= form_for(@photo, url: artist_photo_album_photos_path(@artist, photo_album)) do |f| %>

    <div class="field">
      <%= f.label :title %><br />
      <%= f.text_field :title %>
    </div>

    <div class="field">
      <%= f.label :photo %><br />
      <%= f.file_field :photo %>
    </div>

    <%= f.submit "Create photo", data: { disable_with: 'Creating...' } %>
  <% end %>

  <% if photo_album.artist_photos.any? %>
    <% photo_album.artist_photos.each do |photo| %>
    <%= photo.title %> <%= photo.artist_id %>

    <%= image_tag(photo.photo_url.to_s) %>

    <%= link_to "Delete", artist_photo_album_photo_path(@artist, photo_album, photo), method: :delete, data: { disable_with: 'Deleting...' } %>
    <% end %>
  <% end %>

  <% end %>
<% end %>