
<% if @artist.artist_profile.year_founded.blank? %>
  <div class="no-cover-photo">
    <% if @artist == current_artist %>
      <div>
        You do not have a cover image yet.
      </div>
      <div class="crazy-tiny-text">
        <%= link_to "Upload one now?", edit_artist_profile_path(current_artist) %>
      </div>
    <% else %>
      <%= "#{@artist.name} hasn't uploaded a cover photo yet" %>
    <% end %>
  </div>
<% else %>
  <img src="https://www.native-instruments.com/typo3temp/pics/img-welcome-hero-lone-forest-4fdf2e1195bcb4f320bae5335ad034c3-d.jpg" width="100%" height="auto'" />
<% end %>

<div class="wrapper">
  <div class="container">



    <div class="five-space">
      <span class="large-text"><%= @artist.name %></span> - <%= @artist.fans.count %> followers
    </div>

    <div class="three-space">
      <% if fan_signed_in? %>
        <% if fan_signed_in? && current_fan.following_artist?(@artist) %>

          <%= link_to "Unfollow", artist_relationship_path(@artist, current_fan.artist_relationship_id(@artist)), method: :delete, data: { disable_with: 'Unfollowing...' }, class: "unfollow-button" %>

          <div class="checkbox-dropdown">
            &#x21e9;
          </div>

          <div class="checkbox-container">
            <%= form_for(@settings, url: artist_relationship_path(@artist, current_fan.artist_relationship_id(@artist))) do |f| %>
            <ul>
              <li><%= f.check_box :post_email %>
              <%= f.label :post_email %></li>
              <li><%= f.check_box :photo_email %>
              <%= f.label :photo_email %></li>
              <li><%= f.check_box :video_email %>
              <%= f.label :video_email %></li>
              <li><%= f.check_box :merch_email %>
              <%= f.label :merch_email %></li>
              <li><%= f.check_box :tour_email %>
              <%= f.label :tour_email %></li>
              <li><%= f.check_box :show_email %>
              <%= f.label :show_email %></li>
              <li><%= f.check_box :album_email %>
              <%= f.label :album_email %></li>
              <li><%= f.submit "Update", data: { disable_with: 'Updating...' }, class: "small-button" %></li>
            </ul>
            <% end %>
          </div>

        <% else %>
          <%= form_for(@relationship,  url: artist_relationships_path(@artist)) do |f| %>
            <%= f.submit "Follow", data: { disable_with: 'Following...' }, class: "follow-button" %>
          <% end %>
        <% end %>
      <% else %>
        <%= link_to "Sign in as a fan", fan_session_path %> to follow <%= @artist.name %>
      <% end %>
    </div>



    <sidebar class="artist-sidebar">
      <nav class="nav">
        <ul>
          <li id="postsclick">Posts</li>
          <li id="photosclick">Photos</li>
          <li id="videosclick">Videos</li>
          <li id="toursclick">Tours</li>
          <li id="merchclick">Merch</li>
          <li id="musicclick">Music</li>
          <li id="profileclick">Profile</li>
        </ul>
      </nav>
    </sidebar>


    <main class="artist-content">
      <div id="posts">
        <% if artist_signed_in? && current_artist == @artist %>
          <div class="form-container">
            <%= form_for(@post, url: artist_posts_path(@artist)) do |f| %>

              <div class="field">
                <%= f.label :content, "What's happening?", class: "middle-text" %>
                <%= f.text_area :content, class: "text-area" %>
              </div>
              <div class="a inline" id="artistpostlinkclick">
                Add a link
              </div>
              or
              <div class="a inline" id="artistpostimageclick">
                Add a photo
              </div>
              <div class="field" id="artistpostlink">
                <%= f.label :link %><br />
                <%= f.text_field :link, class: "text-field" %>
              </div>
              <div class="field" id="artistpostimage">
                <%= f.label :image %><br />
                <%= f.file_field :image %>
              </div>

              <br />
              <%= f.submit "Create post", data: { disable_with: 'Creating...' }, class: "submit-button" %>
            <% end %>
          </div>
        <% end %>

        <% if @artist.artist_posts.any? %>
          <% @artist.artist_posts.each do |post| %>
            <div class="post-container">
              <div class="one-space">
                <%= link_to @artist.name, artist_path(@artist) %> <span class="tiny-text">posted <%= time_ago_in_words(post.created_at) %> ago <%= link_to "Delete", artist_post_path(@artist, post), method: :delete, data: { disable_with: 'Deleting...' } if artist_signed_in? && current_artist == @artist %></span>
              </div>
              <div class="one-space">
                <%= post.content %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>



      <div id="photos">
        <% if artist_signed_in? && current_artist == @artist %>
          <div id="photoalbumclick">
            Create a photo album
          </div>
          <div id="photoalbumcontainer">
            <div class="form-container">
              <%= form_for(@photo_album, url: artist_photo_albums_path(@artist)) do |f| %>

                <div class="field">
                  <%= f.label :title, class: "label" %><br />
                  <%= f.text_field :title, class: "text-field" %>
                </div>

                <%= f.submit "Create photo album", data: { disable_with: 'Creating...' }, class: "submit-button" %>
              <% end %>
            </div>
          </div>
        <% end %>

        <% if @artist.artist_photo_albums.any? %>
          <% @artist.artist_photo_albums.each do |photo_album| %>
          <div class="three-column">
            <span class="medium-text"><%= photo_album.title %></span> <%= link_to "Delete", artist_photo_album_path(@artist, photo_album), method: :delete, data: { disable_with: 'Deleting...' } if artist_signed_in? && current_artist == @artist %>
            <% if artist_signed_in? && current_artist == @artist %>
              <div id="photoclick">
                Add a photo to this album
              </div>
              <div id="photocontainer">
                <div class="form-container-large">
                  <%= form_for(@photo, url: artist_photo_album_photos_path(@artist, photo_album)) do |f| %>

                    <div class="field">
                      <%= f.label :title, class: "label" %><br />
                      <%= f.text_field :title, class: "text-field" %>
                    </div>
                    <div class="field">
                      <%= f.label :photo, class: "label" %><br />
                      <%= f.file_field :photo %>
                    </div>
                    <div class="field">
                      <%= f.label :description, class: "label" %><br />
                      <%= f.text_area :description, class: "text-area" %>
                    </div>
                    <%= f.label :cover_photo %>
                    <%= f.check_box :cover_photo %>
                    <%= f.label :profile_photo %>
                    <%= f.check_box :profile_photo %><br />

                    <%= f.submit "Create photo", data: { disable_with: 'Creating...' }, class: "submit-button" %>
                  <% end %>
                </div>
              </div>
            <% end %>

          <% if photo_album.artist_photos.any? %>
            <% photo_album.artist_photos.each do |photo| %>
            <%= photo.title %>

            <%= image_tag(photo.photo_url.to_s) %>

            <%= link_to "Delete", artist_photo_album_photo_path(@artist, photo_album, photo), method: :delete, data: { disable_with: 'Deleting...' } if artist_signed_in? && current_artist == @artist %>
            <% end %>
          <% end %>

          </div>
          <% end %>
        <% end %>
      </div> 





      <div id="videos">
        <% if artist_signed_in? && current_artist == @artist %>
          <div id="videoclick">
            Create a video
          </div>
          <div id="videocontainer">
            <div class="form-container">
              <%= form_for(@video, url: artist_videos_path(@artist)) do |f| %>

                <div class="field">
                  <%= f.label :title, class: "label" %><br />
                  <%= f.text_field :title, class: "text-field" %>
                </div>
                <div class="field">
                  <%= f.label :description, class: "label" %><br />
                  <%= f.text_area :description, class: "text-area" %>
                </div>
                <div class="field">
                  <%= f.label :video, class: "label" %><br />
                  <%= f.file_field :video %>
                </div>

                <%= f.submit "Create video", data: { disable_with: 'Creating...' }, class: "submit-button" %>
              <% end %>
            </div>
          </div>
        <% end %>

        <% if @artist.artist_videos.any? %>
          <% @artist.artist_videos.each do |video| %>
            <span class="medium-text"><%= video.title %></span> <%= link_to "Delete", artist_video_path(@artist, video), method: :delete, data: { disable_with: 'Deleting...' } if artist_signed_in? && current_artist == @artist %>
            <div class="one-space">
              <%= video_tag(video.video_url.to_s) %>
            </div>
            <div class="one-space">
              <%= video.description %>
            </div>
          <% end %>
        <% end %>
      </div>




      <div id="tours">
        <% if artist_signed_in? && current_artist == @artist %>
        <div id="tourclick">
          Create a tour
        </div>
        <div id="tourcontainer">
          <div class="form-container">
            <%= form_for(@tour, url: artist_tours_path(@artist)) do |f| %>

              <div class="field">
                <%= f.label :title, class: "label" %><br />
                <%= f.text_field :title, class: "text-field" %>
              </div>
              <div class="field">
                <%= f.label :description, class: "label" %><br />
                <%= f.text_area :description, class: "text-area" %>
              </div>
              <div class="field">
                <%= f.label :amount_of_shows, class: "label" %><br />
                <%= f.text_field :amount_of_shows, class: "text-field" %>
              </div>
              <div class="field">
                <%= f.label :artists, class: "label" %><br />
                <%= f.text_field :artists, class: "text-field" %>
              </div>
              <div class="field">
                <%= f.label :image, class: "label" %><br />
                <%= f.file_field :image %>
              </div>

              <%= f.submit "Create tour", data: { disable_with: 'Creating...' }, class: "submit-button" %>
              </div>
            <% end %>
          <% end %>
        </div>

        <% if @artist.artist_tours.any? %>
          <% @artist.artist_tours.each do |tour| %>
            <span class="medium-text"><%= tour.title %></span> <%= link_to "Delete", artist_tour_path(@artist, tour), method: :delete, data: { disable_with: 'Deleting...' } if artist_signed_in? && current_artist == @artist %>
            <div id="showclick">
              Add a show
            </div>
            <div id="showcontainer">
              <div class="form-container">
                <%= form_for(@show, url: artist_tour_shows_path(@artist, tour)) do |f| %>

                <div class="field">
                  <%= f.label :title, class: "label" %><br />
                  <%= f.text_field :title, class: "text-field" %>
                </div>
                <div class="field">
                  <%= f.label :month, class: "label" %><br />
                  <%= f.text_field :month, class: "text-field" %>
                </div>
                <div class="field">
                  <%= f.label :day, class: "label" %><br />
                  <%= f.text_field :day, class: "text-field" %>
                </div>
                <div class="field">
                  <%= f.label :year, class: "label" %><br />
                  <%= f.text_field :year, class: "text-field" %>
                </div>
                <div class="field">
                  <%= f.label :venue, class: "label" %><br />
                  <%= f.text_field :venue, class: "text-field" %>
                </div>
                <div class="field">
                  <%= f.label :description, class: "label" %><br />
                  <%= f.text_area :description, class: "text-area" %>
                </div>
                <div class="field">
                  <%= f.label :ticket_url, class: "label" %><br />
                  <%= f.text_field :ticket_url, class: "text-field" %>
                </div>
                <div class="field">
                  <%= f.label :image, class: "label" %><br />
                  <%= f.file_field :image %>
                </div>

                <%= fields_for :artist_show_location do |u| %>
                  <div class="field">
                    <%= u.label :city, class: "label" %><br />
                    <%= u.text_field :city, class: "text-field" %>
                  </div>
                <% end %>

                <div class="field">
                  <%= f.label :is_independent? %>
                  <%= f.check_box :is_independent? %>
                </div>

                <%= f.submit "Create show", data: { disable_with: 'Creating...' }, class: "submit-button" %>
                <% end %>
              </div>
            </div>

          <% if tour.artist_shows.any? %>
            <% tour.artist_shows.each do |show| %>
            <span class="medium-text"><%= show.title %></span> <%= show.artist_show_location.city %>

            <%= link_to "Delete", artist_tour_show_path(@artist, tour, show), method: :delete, data: { disable_with: 'Deleting...' } if artist_signed_in? && current_artist == @artist %>
            <% end %>
          <% end %>

          <% end %>
        <% end %>
      </div>




      <div id="merch">
        <% if artist_signed_in? && current_artist == @artist %>
          <div id="itemclick">
            Add an item
          </div>
          <div id="itemcontainer">
            <div class="form-container">
              <%= form_for(@item, url: artist_items_path(@artist)) do |f| %>

                <div class="field">
                  <%= f.label :title, class: "label" %><br />
                  <%= f.text_field :title, class: "text-field" %>
                </div>
                <div class="field">
                  <%= f.label :description, class: "label" %><br />
                  <%= f.text_area :description, class: "text-area" %>
                </div>
                <div class="field">
                  <%= f.label :category, class: "label" %><br />
                  <%= f.text_field :category, class: "text-field" %>
                </div>
                <div class="field">
                  <%= f.label :base_price, class: "label" %><br />
                  <%= f.text_field :base_price, class: "text-field" %>
                </div>
                <div class="field">
                  <%= f.label :shipping_price, class: "label" %><br />
                  <%= f.text_field :shipping_price, class: "text-field" %>
                </div>
                <div class="field">
                  <%= f.label :currency, class: "label" %><br />
                  <%= f.text_field :currency, class: "text-field" %>
                </div>
                <div class="field">
                  <%= f.label :quantity, class: "label" %><br />
                  <%= f.text_field :quantity, class: "text-field" %>
                </div>
                <div class="field">
                  <%= f.label :options, class: "label" %><br />
                  <%= f.text_field :options, class: "text-field" %>
                </div>
                <div class="field">
                  <%= f.label :image, class: "label" %><br />
                  <%= f.file_field :image %>
                </div>
                <div class="field">
                  <%= f.label :image_two, class: "label" %><br />
                  <%= f.file_field :image_two %>
                </div>
                <div class="field">
                  <%= f.label :image_three, class: "label" %><br />
                  <%= f.file_field :image_three %>
                </div>

                <%= f.submit "Create item", data: { disable_with: 'Creating...' }, class: "submit-button" %>
              <% end %>
            </div>
          </div>
        <% end %>

        <% if @artist.artist_items.any? %>
          <% @artist.artist_items.each do |item| %>
            <span class="medium-text"><%= item.title %></span> <%= item.artist_id %> <%= link_to "Delete", artist_item_path(@artist, item), method: :delete, data: { disable_with: 'Deleting...' } if artist_signed_in? && current_artist == @artist %>
          <% end %>
        <% end %>
      </div>



      <div id="music">
        <% if artist_signed_in? && current_artist == @artist %>
          <div id="albumclick">
            Add an album
          </div>
          <div id="albumcontainer">
            <div class="form-container">
              <%= form_for(@album, url: artist_albums_path(@artist)) do |f| %>

                <div class="field">
                  <%= f.label :title, class: "label" %><br />
                  <%= f.text_field :title, class: "text-field" %>
                </div>
                <div class="field">
                  <%= f.label :description, class: "label" %><br />
                  <%= f.text_area :description, class: "text-area" %>
                </div>
                <div class="field">
                  <%= f.label :release_month, class: "label" %><br />
                  <%= f.text_field :release_month, class: "text-field" %>
                </div>
                <div class="field">
                  <%= f.label :release_day, class: "label" %><br />
                  <%= f.text_field :release_day, class: "text-field" %>
                </div>
                <div class="field">
                  <%= f.label :release_year, class: "label" %><br />
                  <%= f.text_field :release_year, class: "text-field" %>
                </div>
                <div class="field">
                  <%= f.label :price, class: "label" %><br />
                  <%= f.text_field :price, class: "text-field" %>
                </div>
                <div class="field">
                  <%= f.label :currency, class: "label" %><br />
                  <%= f.text_field :currency, class: "text-field" %>
                </div>
                <div class="field">
                  <%= f.label :image, class: "label" %><br />
                  <%= f.file_field :image %>
                </div>

                <%= f.submit "Create album", data: { disable_with: 'Creating...' }, class: "submit-button" %>
              <% end %>
            </div>
          </div>
        <% end %>

        <% if @artist.artist_albums.any? %>
          <% @artist.artist_albums.each do |album| %>
            <span class="medium-text"><%= album.title %></span> <%= link_to "Delete", artist_album_path(@artist, album), method: :delete, data: { disable_with: 'Deleting...' } if artist_signed_in? && current_artist == @artist %>
          <div id="trackclick">
            Add a track
          </div>
          <div id="trackcontainer">
            <div class="form-container">
              <%= form_for(@track, url: artist_album_tracks_path(@artist, album)) do |f| %>

              <div class="field">
                <%= f.label :title, class: "label" %><br />
                <%= f.text_field :title, class: "text-field" %>
              </div>
              <div class="field">
                <%= f.label :track_number, class: "label" %><br />
                <%= f.text_field :track_number, class: "text-field" %>
              </div>
              <div class="field">
                <%= f.label :price, class: "label" %><br />
                <%= f.text_field :price, class: "text-field" %>
              </div>
              <div class="field">
                <%= f.label :currency, class: "label" %><br />
                <%= f.text_field :currency, class: "text-field" %>
              </div>
              <div class="field">
                <%= f.label :audio, class: "label" %><br />
                <%= f.text_field :audio, class: "text-field" %>
              </div>
              <div class="field">
                <%= f.label :lyrics, class: "label" %><br />
                <%= f.text_area :lyrics, class: "text-area" %>
              </div>

              <%= f.submit "Create track", data: { disable_with: 'Creating...' }, class: "submit-button" %>
            <% end %>
            </div>
          </div>

          <% if album.artist_tracks.any? %>
            <% album.artist_tracks.each do |track| %>
            <%= track.title %> <%= track.artist_id %>

            <%= link_to "Delete", artist_album_track_path(@artist, album, track), method: :delete, data: { disable_with: 'Deleting...' } if artist_signed_in? && current_artist == @artist %>
            <% end %>
          <% end %>

          <% end %>
        <% end %> 
      </div>





      <div id="profile">

        <%= link_to "Edit profile", edit_artist_profile_path(current_artist) if artist_signed_in? && @artist == current_artist %>

        <% unless @artist.artist_location.city.blank? %>
          <div class="one-space">
            <span class="middle-text">Location:</span> <%= @artist.artist_location.city %><%= ", " + @artist.artist_location.state if @artist.artist_location.state.present? %><%= " , " + @artist.artist_location.country if @artist.artist_location.country.present? %>
          </div>
        <% end %>

        <% unless @artist.artist_genre.genre.blank? %>
          <div class="one-space">
            <span class="middle-text">Genre:</span> <%= @artist.artist_genre.genre %><%= ", " + @artist.artist_genre.subgenre if @artist.artist_genre.subgenre.present? %>
          </div>
        <% end %>

        <% unless @artist.artist_profile.year_founded.blank? %>
          <div class="one-space">
            <span class="middle-text">Year founded:</span> <%= @artist.artist_profile.year_founded %>
          </div>
        <% end %>

        <% unless @artist.artist_profile.record_label.blank? %>
          <div class="one-space">
            <span class="middle-text">Record label:</span> <%= @artist.artist_profile.record_label %>
          </div>
        <% end %>

        <% unless @artist.artist_profile.influences.blank? %>
          <div class="one-space">
            <span class="middle-text">Influences:</span> <%= @artist.artist_profile.influences %>
          </div>
        <% end %>

        <% unless @artist.artist_profile.facebook_url.blank? %>
          <div class="one-space">
            <span class="middle-text">Facebook:</span> <%= link_to @artist.artist_profile.facebook_handle, @artist.artist_profile.facebook_url %>
          </div>
        <% end %>

        <% unless @artist.artist_profile.twitter_url.blank? %>
          <div class="one-space">
            <span class="middle-text">Twitter:</span> <%= link_to @artist.artist_profile.twitter_handle, @artist.artist_profile.twitter_url %>
          </div>
        <% end %>

        <% unless @artist.artist_profile.instagram_url.blank? %>
          <div class="one-space">
            <span class="middle-text">Instagram:</span> <%= link_to @artist.artist_profile.instagram_handle, @artist.artist_profile.instagram_url %>
          </div>
        <% end %>

        <% unless @artist.artist_profile.youtube_url.blank? %>
          <div class="one-space">
            <span class="middle-text">YouTube:</span> <%= link_to @artist.artist_profile.youtube_handle, @artist.artist_profile.youtube_url %>
          </div>
        <% end %>

        <% unless @artist.artist_profile.letlyrics_url.blank? %>
          <div class="one-space">
            <span class="middle-text">LetLyrics:</span> <%= link_to @artist.name, @artist.artist_profile.letlyrics_url %>
          </div>
        <% end %>

        <% unless @artist.artist_profile.general_manager_name.blank? %>
          <div class="one-space">
            <span class="middle-text">General Manager:</span> <%= @artist.artist_profile.general_manager_name %> - <%= @artist.artist_profile.general_manager_email %>
          </div>
        <% end %>

        <% unless @artist.artist_profile.press_contact_email.blank? %>
          <div class="one-space">
            <span class="middle-text">Press Contact:</span> <%= @artist.artist_profile.press_contact_name %> - <%= @artist.artist_profile.press_contact_email %>
          </div>
        <% end %>

        <% unless @artist.artist_profile.booking_agent_email.blank? %>
          <div class="one-space">
            <span class="middle-text">Booking Agent:</span> <%= @artist.artist_profile.booking_agent_name %> - <%= @artist.artist_profile.booking_agent_email %>
          </div>
        <% end %>

      </div>


    </main>


  </div>
</div>